@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #73736B;
    color: #0D0D15;
    font-family: 'Clash Grotesk', sans-serif;
    overflow-x: hidden;
    transition: all 0.7s;
}
.serif{
    font-family: 'Boska', serif;
}
#main-image {
    transition: all 0.3s ease;
    // transform 0.3s ease 0s
  }
  ::-webkit-scrollbar {
    width: 1rem;
    background-color: transparent;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4B4334;
    transition: all 0.6s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
  }
